@import url(https://fonts.googleapis.com/css2?family=Kode+Mono&family=VT323&display=swap);

::-webkit-scrollbar {
    width: 5px;
    transition: 2s;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 30px;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
    background: #999;
}

html {
    background-color: #efefef;
}

body {
    font-family: "Kode Mono", monospace;
}
