::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
    transition: 2s;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
    border-radius: 30px;
}
::-webkit-scrollbar-thumb {
    background: #aaa; /* Color of the thumb */
    border-radius: 30px;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
    background: #999; /* Color of the thumb on hover */
}


.container {
    max-height: calc(80vh - 70px) !important;
}

button#open-modal-btn.disabled {
    background-color: #999;
    &:hover {
        background: #999;
    }
    &:focus {
        background: #999;
    }
}