@import "~datatables.net-dt/css/dataTables.dataTables.css";

select {
    outline: none;
}

#tasks-table_wrapper {
    padding-bottom: 50px !important;
}

.dt-layout-table {
    height: calc(80vh - 130px) !important;
    overflow: hidden;

    .dt-layout-cell {
        overflow-y: scroll;
        height: 100%;
    }

}

.dt-length {
    label {
        font-size: 15px;
    }

    select {
        padding: 1px !important;
    }
}

.dt-search {

    label {
        font-size: 15px;
    }

    input {
        padding: 1px !important;
        outline: none !important;
    }
}

table {
    th {
        padding-top: 0 !important;
        font-size: smaller;
    }
}

.dt-paging {

    .dt-paging-button {
        padding: 0.2em 0.7em !important;
    }
}

#tasks-table_info {
    font-size: 15px !important;
}