{% extends "layout.twig" %}

{% block title %}Categories{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('category') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('category', null, '', {defer: true}) }}
{% endblock %}

{% block content %}
    <div id="category-container" class="h-full bg-white">
        <div>
            <button id="open-modal-btn"
                class="left-[89%] top-3 relative flex flex-row-reverse items-center gap-1 px-2.5 py-1.5 text-sm bg-blue-600 text-gray-100 rounded-md transition-colors duration-150 ease-linear focus:outline-none font-bold hover:bg-blue-700 focus:bg-blue-700">
                Category 
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
            </button>

            <div class="hidden fixed text-gray-500 flex items-center justify-center overflow-auto z-50 bg-black bg-opacity-40 left-0 right-0 top-0 bottom-0">
                <div id="modal" class="hidden bg-white rounded-lg shadow-2xl p-6 sm:w-fit mx-10 transition ease duration-100 transform">
                    <h3 class="font-bold block text-xl mb-2 text-gray-600">Category</h3>

                    <form action="" class="flex flex-col gap-4">
                        <hr class="mb-1">

                        <input type="text" name="category" class="w-[300px] p-1 text-[1rem] rounded outline-none border border-gray-200 placeholder:text-gray-4" placeholder="Name">
                        <div id="error-div" class="text-red-500 text-[0.7rem] mt-[-1rem]"></div>
                        
                        <hr class="mt-5">
                        <div class="text-right space-x-5 flex justify-end">
                            <button type="button" class="py-[0.4rem] px-2 text-sm bg-gray-800 text-white flex flex-row-reverse justify-center items-center gap-1 rounded-md transition-colors duration-150 ease-linear focus:outline-none font-bold hover:bg-gray-900 focus:bg-gray-900">
                                Cancel
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                </svg>
                            </button>
                            <button class="py-[0.4rem] px-2 text-sm bg-green-800 text-white flex flex-row-reverse justify-center items-center gap-1 rounded-md transition-colors duration-150 ease-linear focus:outline-none font-bold hover:bg-green-900 focus:bg-green-900">
                                Save
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <section class="container px-4 mx-auto mt-7 h-full overflow-y-scroll">
            <table class="w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                    <tr>
                        <th class="font-normal pl-7 p-3 text-left w-[18%]">
                            <button class="flex items-center gap-x-2">
                                <span>Name</span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"  width=10 height=15><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                    <path d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z"/>
                                </svg>
                            </button>
                        </th>
                        <th class="font-normal p-3 text-left">
                            <button class="flex items-center gap-x-2">
                                <span>Task Count</span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"  width=10 height=15><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                    <path d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z"/>
                                </svg>
                            </button>
                        </th>
                        <th class="font-normal p-3 text-left">
                            <button class="flex items-center gap-x-2">
                                <span>Created At</span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"  width=10 height=15><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                    <path d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z"/>
                                </svg>
                            </button>
                        </th>
                        <th class="font-normal p-3 text-left">Updated at</th>
                        <th class="font-normal p-3 text-left">
                            <span class="sr-only">Edit</span>
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200"></tbody>
            </table>
        </section>
    </div>
{% endblock %}