{% extends "layout.twig" %}

{% block content %}

    <div>
        <div class="big-cards">
            <div id="coming-up"></div>
            <div id="taskify-calender"></div>
        </div>
        <div id="statistic-cards">
            <div class="small-card"></div>
            <div class="small-card"></div>
            <div class="small-card"></div>
            <div class="small-card"></div>
            <div class="small-card"></div>
        </div>
    </div>

{% endblock %}
