<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app', null, '', {defer: true}) }}
			{{ encore_entry_script_tags('contactPerson', null, '', {defer: true}) }}
		{% endblock %}
		<title>COntact Person</title>
	</head>
	<body>
		<a href="/" class="bg-gray-900 text-gray-100 m-5 p-2 w-fit z-50 absolute rounded">
			Home
		</a>

		{% include "contact_person/modal.twig" %}
	</body>
</html>
