{% extends "mail/layout.twig" %}

{% block content %}
    <div style="font-family: monospace; background-color: #bbb;" class="bg-red-50 h-full w-full flex items-center justify-center">
        <h3>Hi, {{ fullname }}</h3>
        <p>You have a task due at {{ time }}</p>
        <button>Mark as Complete</button>

        <script>
            document.querySelector('button').addEventListener('click', handleClick);

            function handleClick() {
                console.log('first')
            }
        </script>
    </div>
{% endblock %}