<div style="font-family: monospace; background-color: #bbb;" class="bg-gray-200 h-full w-full flex items-center justify-center">
    <p>You have an upcomming task at {{ time }}</p>
    <h3>{{ name }}</h3>
    <button>Mark as Complete</button>
</div>